<a href="https://colab.research.google.com/github/nagarapupri/Pandas/blob/master/ad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd

# Import CSV's
subjects_dc = '/home/ad_files/subjects_dc.csv'
adrc_dc = '/home/ad_files/adrc_dc.csv'
freesurfers_dc = '/home/ad_files/freesurfers_dc.csv'

# Read CSV
subjects_df = pd.read_csv(subjects_dc, header=0)
adrc_df = pd.read_csv(adrc_dc, header=0)
freesurfers_df = pd.read_csv(freesurfers_dc, header=0)

In [76]:
#adrc_df=adrc_df.fillna(0)
adrc_df['height (inches)' ] = adrc_df['height (inches)'].fillna(0)
adrc_df['weight (lbs)' ] = adrc_df['weight (lbs)'].fillna(0)
adrc_df

         ADRC_ADRCCLINICALDATA ID   Subject  ...  height (inches)  weight (lbs)
0     OAS30001_ClinicalData_d0000  OAS30001  ...              0.0           0.0
1     OAS30001_ClinicalData_d0339  OAS30001  ...             64.0         155.0
2     OAS30001_ClinicalData_d0722  OAS30001  ...             64.0         162.0
3     OAS30001_ClinicalData_d1106  OAS30001  ...             64.0         167.0
4     OAS30001_ClinicalData_d1456  OAS30001  ...             63.0         173.0
...                           ...       ...  ...              ...           ...
6219  OAS31172_ClinicalData_d1215  OAS31172  ...             61.0         137.0
6220  OAS31172_ClinicalData_d1565  OAS31172  ...             61.0         133.0
6221  OAS31172_ClinicalData_d1908  OAS31172  ...             61.0         131.0
6222  OAS31172_ClinicalData_d2816  OAS31172  ...             61.0         134.0
6223  OAS31172_ClinicalData_d3294  OAS31172  ...             61.0         134.0

[6224 rows x 7 columns]

In [91]:
grouped_df = adrc_df.groupby("Subject")
adrc_df1= grouped_df["dx1","ADRC_ADRCCLINICALDATA ID"].agg(lambda column: column.str.cat(sep=','))
adrc_df2=grouped_df['ageAtEntry',"mmse",'height (inches)','weight (lbs)'].mean()
adrc_mean=pd.merge(adrc_df1, adrc_df2, on='Subject')
adrc_mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                                                        dx1  ... weight (lbs)
Subject                                                      ...
OAS30001  Cognitively normal,Cognitively normal,Cognitiv...  ...   146.250000
OAS30002  Cognitively normal,Cognitively normal,Cognitiv...  ...   130.875000
OAS30003  Cognitively normal,Cognitively normal,Cognitiv...  ...   121.875000
OAS30004  Cognitively normal,Cognitively normal,Cognitiv...  ...   201.500000
OAS30005  Cognitively normal,Cognitively normal,Cognitiv...  ...   174.500000
...                                                     ...  ...          ...
OAS31168  Cognitively normal,Cognitively normal,Cognitiv...  ...   160.555556
OAS31169         Cognitively normal,AD Dementia,AD Dementia  ...   115.666667
OAS31170  Unc: ques. Impairment,AD Dementia,Unc: ques. I...  ...   162.142857
OAS31171  AD dem Language dysf after,Frontotemporal demt...  ...   225.500000
OAS31172  Cognitively normal,Cognitively normal,Cognitiv...  ...   132.500000

[1098 rows x 6 columns]

In [89]:
freesurfers_df

                     FS_FSDATA ID  ... Right-Hippocampus_volume
0     OAS30001_Freesurfer53_d0129  ...                   3928.1
1     OAS30001_Freesurfer53_d0757  ...                   3949.6
2     OAS30001_Freesurfer53_d2430  ...                   3847.3
3     OAS30001_Freesurfer53_d3132  ...                   3573.4
4     OAS30002_Freesurfer53_d0653  ...                   4548.8
...                           ...  ...                      ...
2042  OAS31168_Freesurfer53_d2526  ...                   3612.9
2043  OAS31169_Freesurfer53_d0620  ...                   3410.4
2044  OAS31170_Freesurfer53_d2410  ...                   2420.2
2045  OAS31172_Freesurfer53_d0407  ...                   4193.5
2046  OAS31172_Freesurfer53_d1717  ...                   3803.5

[2047 rows x 5 columns]

In [90]:
grouped_df = freesurfers_df.groupby("Subject")
freesurfers_df1= grouped_df["FS_FSDATA ID","Session"].agg(lambda column: column.str.cat(sep=','))
freesurfers_df2=grouped_df['Left-Hippocampus_volume',"Right-Hippocampus_volume"].mean()
freesurfers_mean=pd.merge(freesurfers_df1, freesurfers_df2, on='Subject')
freesurfers_mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                                               FS_FSDATA ID  ... Right-Hippocampus_volume
Subject                                                      ...
OAS30001  OAS30001_Freesurfer53_d0129,OAS30001_Freesurfe...  ...              3824.600000
OAS30002  OAS30002_Freesurfer53_d0653,OAS30002_Freesurfe...  ...              3956.966667
OAS30003  OAS30003_Freesurfer53_d0558,OAS30003_Freesurfe...  ...              4081.466667
OAS30004  OAS30004_Freesurfer53_d1101,OAS30004_Freesurfe...  ...              4361.925000
OAS30005  OAS30005_Freesurfer51_d0143,OAS30005_Freesurfe...  ...              4901.050000
...                                                     ...  ...                      ...
OAS31167  OAS31167_Freesurfer50_d0064,OAS31167_Freesurfe...  ...              4492.660000
OAS31168  OAS31168_Freesurfer53_d0148,OAS31168_Freesurfe...  ...              4026.133333
OAS31169                        OAS31169_Freesurfer53_d0620  ...              3410.400000
OAS31170                        OAS31170_Freesurfer53_d2410  ...              2420.200000
OAS31172  OAS31172_Freesurfer53_d0407,OAS31172_Freesurfe...  ...              3998.500000

[1053 rows x 4 columns]

In [86]:
subjects_df

       Subject M/F  MR Sessions
0     OAS30001   F            4
1     OAS30002   M            4
2     OAS30003   F            6
3     OAS30004   F            4
4     OAS30005   F            6
...        ...  ..          ...
1093  OAS31168   M            3
1094  OAS31169   F            1
1095  OAS31170   F            1
1096  OAS31171   F            1
1097  OAS31172   F            2

[1098 rows x 3 columns]

# New Section

In [94]:
mean_ad=pd.merge(pd.merge(subjects_df,adrc_mean, on='Subject'),freesurfers_mean,on ='Subject')

In [98]:
mean_ad.to_csv (r'/home/ad_files/mean_ad.csv', index = False, header=True)